<router-outlet>
  <div class="main-content">
    <!-- <p>main-layout works!</p> -->

    <!-- START Header -->
     <!-- <header>
      <img class="main-logo-home" src="assets/images/logo-white-no-bg.png" alt="">
      <div class="intro">
        <img class="img-fluid w-100" src="assets/images/nat-10.jpg" alt="headerImage" />
        <div class="header-text text-center">
          <h1>Hello</h1>
          <h6>LIFESTYLERS</h6>
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing</p>
          <hr class="w-25 mx-auto" />
        </div>
      </div>
    </header> -->
    <!-- END Header -->

    <!-- START Navbar -->
    <app-navbar></app-navbar>
    <!-- END Navbar -->

<!-- START Breaking News Ticker SLide -->

   <div class="ticker">
        <div class="title"><h5>Breaking News</h5></div>
        <div class="news">
          <marquee>
            <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
          </marquee>
        </div>
      </div>


<!-- END Breaking News Ticker SLide -->


<!-- START BLog Section -->
 <div class="blog container my-5">
  <h4 class="latest-news-title">Popular News</h4>
    <hr>
  <div class="row">
    <div class="post-news col-lg-8 col-md-8 col-12">
      <div class="row">

        <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
          <img class="img-fluid pb-3" src="assets/images/nat-10.jpg" alt="">
          <h3>First News</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur magnam animi porro sapiente enim,
            cupiditate perferendis voluptate numquam!</p>
            <a href="#">Read more</a>
        </div>
        <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
          <img class="img-fluid pb-3" src="assets/images/nat-5.jpg" alt="">
          <h3>First News</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur magnam animi porro sapiente enim,
            cupiditate perferendis voluptate numquam!</p>
            <a href="#">Read more</a>
        </div>
        <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
          <img class="img-fluid pb-3" src="assets/images/nat-4.jpg" alt="">
          <h3>First News</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur magnam animi porro sapiente enim,
            cupiditate perferendis voluptate numquam!</p>
            <a href="#">Read more</a>
        </div>
        <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
          <img class="img-fluid pb-3" src="assets/images/hero.jpg" alt="">
          <h3>First News</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur magnam animi porro sapiente enim,
            cupiditate perferendis voluptate numquam!</p>
            <a href="#">Read more</a>
        </div>
        <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
          <img class="img-fluid pb-3" src="assets/images/nat-2.jpg" alt="">
          <h3>First News</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur magnam animi porro sapiente enim,
            cupiditate perferendis voluptate numquam!</p>
            <a href="#">Read more</a>
        </div>
        <div class="post1 col-lg-6 col-md-6 col-12 pb-4">
          <img class="img-fluid pb-3" src="assets/images/nat-1.jpg" alt="">
          <h3>First News</h3>
          <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur magnam animi porro sapiente enim,
            cupiditate perferendis voluptate numquam!</p>
            <a href="#">Read more</a>
        </div>
      </div>
    </div>
    <!-- LATES NEWS SIDEBAR -->
  <div class="news-sidebar col-lg-4 col-md-4 col-12">
    <h4 class="latest-news-title">Latest News</h4>
    <hr>
  <div class="side1 latest-news">

    <div class="news-item mb-3 text-center">
      <h3>FIRST ONE</h3>
      <img src="assets/images/gallery-8.jpg" alt="News 1">
      <p class="news-text">Exciting updates from our team! Check out the latest developments in our blog.</p>
      <a href="#">Read more</a>
    </div>

    <div class="news-item mb-3 text-center">
       <h3>FIRST ONE</h3>
      <img src="assets/images/gallery-9.jpg" alt="News 2">
      <p class="news-text">Our newest project has launched successfully. Stay tuned for more details!</p>
      <a href="#">Read more</a>
    </div>

    <div class="news-item mb-3 text-center">
       <h3>FIRST ONE</h3>
      <img src="assets/images/blog-7.jpg" alt="News 3">
      <p class="news-text">Join us for the upcoming webinar on modern web development trends.</p>
      <a href="#">Read more</a>
    </div>
  </div>
  <!-- END SIDE1 -->

  <div class="side2 my-4">
    <h4 class="side2-title">Top Headlines</h4>
    <hr>

    <div class="row">
     <div class="fav d-flex justify-content-between align-items-start my-2">
       <div class="side-image col-lg-4 col-md-4 col-4">
        <img class="img-fluid" src="assets/images/about-img.jpg" alt="">
      </div>
      <div class="side-text col-lg-8 col-md-8 col-8 px-2">
        <h4>lorem ipsum dolar set amet.</h4>
        <a href="#">see more</a>
      </div>
     </div>
     <!-- ========================= -->
      <div class="fav d-flex justify-content-between align-items-start my-2">

        <div class="side-image col-lg-4 col-md-4 col-4">
          <img class="img-fluid" src="assets/images/blog-2.jpg" alt="">
        </div>
        <div class="side-text col-lg-8 col-md-8 col-8 px-2">
          <h4>lorem ipsum dolar set amet.</h4>
          <a href="#">see more</a>
        </div>
      </div>

           <!-- ========================= -->

           <div class="fav d-flex justify-content-between align-items-start my-2">


             <div class="side-image col-lg-4 col-md-4 col-4">
               <img class="img-fluid" src="assets/images/blog-5.jpg" alt="">
              </div>
              <div class="side-text col-lg-8 col-md-8 col-8 px-2">
                <h4>lorem ipsum dolar set amet.</h4>
                <a href="#">see more</a>
              </div>
            </div>
     <!-- ========================= -->


    </div>
  </div>
</div>


  </div>
 </div>
<!-- END BLOG Section -->




<!-- START NewsLetter Section -->
<div class="subscription p-5">
  <div class="row justify-content-between align-items-center">

    <div class="content col-md-6">
      <h3>Want to get latest news & updates?</h3>
      <p>Sign up and receive your first email immediately!!</p>
    </div>

    <div class="sub col-lg-6 col-md-6 col-12 d-flex">
      <input type="email" class="form-control me-2" name="email" id="email" placeholder="Your Email..." />
      <button class="btn btn-success">Subscribe</button>
    </div>

  </div>
</div>
<!-- END NewsLetter Section -->



    <!-- START Featured Section -->
    <div class="featured-news container my-5">
        <h4 class="side2-title">Top Rated</h4>
    <hr>

      <div class="row">
        <div class="one col-lg-4 col-md-6 col-12 mb-2">
          <img class="img-fluid" src="assets/images/g-5.jpg" alt="" />
          <div class="featured-news-text w-75 h-50 text-light p-4">
            <p>FIRSTONE</p>
            <h4>This could be a title for this blog</h4>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="one col-lg-4 col-md-6 col-12 mb-2">
          <img class="img-fluid" src="assets/images/gallery-6.jpg" alt="" />
          <div class="featured-news-text w-75 h-50 text-light p-4">
            <p>FIRSTONE</p>
            <h4>This could be a title for this blog</h4>
            <a href="">Read More</a>
          </div>
        </div>
        <div class="one col-lg-4 col-md-6 col-12 mb-2">
          <img class="img-fluid" src="assets/images/gallery-4.jpg" alt="" />
          <div class="featured-news-text w-75 h-50 text-light p-4">
            <p>FIRSTONE</p>
            <h4>This could be a title for this blog</h4>
            <a href="">Read More</a>
          </div>
        </div>
      </div>

      <h4 class="side2-title mt-5">Our Clients</h4>
<hr>

    </div>

    <!-- END Featured Section -->

<!-- START CLINETS LOGO BAR -->

<div class="logos">

      <div class="logos-slide">
        <img src="assets/images/logos/3m.svg" />
        <img src="assets/images/logos/barstool-store.svg" />
        <img src="assets/images/logos/budweiser.svg" />
        <img src="assets/images/logos/buzzfeed.svg" />
        <img src="assets/images/logos/forbes.svg" />
        <img src="assets/images/logos/macys.svg" />
        <img src="assets/images/logos/menshealth.svg" />
        <img src="assets/images/logos/mrbeast.svg" />
      </div>

      <div class="logos-slide">
        <img src="assets/images/logos/3m.svg" />
        <img src="assets/images/logos/barstool-store.svg" />
        <img src="assets/images/logos/budweiser.svg" />
        <img src="assets/images/logos/buzzfeed.svg" />
        <img src="assets/images/logos/forbes.svg" />
        <img src="assets/images/logos/macys.svg" />
        <img src="assets/images/logos/menshealth.svg" />
        <img src="assets/images/logos/mrbeast.svg" />
      </div>
    </div>

<!-- END CLINETS LOGO BAR -->

    <app-footer></app-footer>
  </div>
</router-outlet>
